@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700);

body {
    margin-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    color: #AD3743;
}

.wrapper {
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 0 20px #999;
}

.slide {
    width: 100%;
    height: 800px;
    display: inline-block;
}

.oulu-overlay,
.hcmc-overlay {
    width: 800px;
    background-color: rgba(255, 255, 255, .8);
    padding: 25px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 4em;
    font-weight: 700;
    color: #AD3743;
}

.hcmc-overlay {
    width: 500px;
}

.img-framed {
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 20px #999;
    margin-bottom: 10px;
    width: 360px;
}

.img-food.first {
    margin-top: 40px;
}

.hide {
    display: none;
}

.xtra {
    font-size: 6em;
}

.slide-text h1 {
    font-size: 6em;
    margin-bottom: 100px; 
}

.slide-text h1.first {
    margin-top: 50px;
}

.ao-dai {
    margin-top: 70px;
}